body {
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

 .bmi-box {
  width: 300px;
  background: white;
  padding: 20px;
  margin: 100px auto;
  border-radius: 10px;
  text-align: center;
}
input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  padding: 8px 15px;
  margin-top: 10px;
  cursor: pointer;
  background-color: chartreuse;
  border: none;
  font-size: 16px;
  color: rgb(52, 46, 46);
}
button:hover{
  background-color: rgb(147, 280, 5);

}

#result {
  margin-top: 10px;
  font-size: 17px;
} 
#pTag{
    color: green;
    font-weight: 550;
}